.testimonials-section {
  background: #f6f7f9;
}

.testimonials-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1440px;
  }
}

.testimonials-container {
}

.testimonials-title {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.testimonials-list-item {
  padding: 24px;

  @include media(desktop) {
    max-width: 400px;
  }
}

.testimonials-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: #2a2a2a;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.testimonials-item-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.testimonials-img {
}

.testimonials-item-name-wrapper {
}

.testimonials-item-name {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57143;
  color: #000;
  margin-bottom: 4px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.testimonials-item-profession {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  color: #2a2a2a;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}
