<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <ul class="about-list">
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-businessman.png"
            alt="Businessman"
            width="32"
            height="32"
            loading="lazy"
          />
          <h3 class="about-item-title">Who We Are</h3>
          <p class="about-item-text">
            Elevzio is a modern consulting studio built for the solo era. We
            partner with independent creators and consultants who want their
            operations to feel as elevated as their work.
          </p>
        </li>
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-lightbulb.png"
            alt="Light-bulb"
            width="32"
            height="32"
            loading="lazy"
          />
          <h3 class="about-item-title">What We Believe</h3>
          <p class="about-item-text">
            You don’t need a team of 10 to grow sustainably — you need clarity,
            systems, and a strategy that respects your time.
          </p>
          <p class="about-item-text about-item-bottom-text">
            We specialize in tools like Notion, Zapier, Airtable, and Tally to
            help you automate and scale with elegance.
          </p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-bg-desk.png"
              media="(min-width: 1440px)"
              width="388"
              height="460" />
            <source
              srcset="./img/about/about-bg-mob.png"
              width="375"
              height="460" />
            <img
              class="about-bg-img"
              src="./img/about/about-bg-mob.png"
              alt="People working"
              width="375"
              height="460"
              loading="lazy"
          /></picture>
        </li>
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-document.png"
            alt="Document"
            width="32"
            height="32"
            loading="lazy"
          />
          <h3 class="about-item-title">Legal Note</h3>
          <p class="about-item-text">
            Elevzio is a registered Limited Liability Company operating globally
            through remote collaboration.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
