<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <p class="contact-subtitle">
            Have questions? Want to see if we’re a good fit?
          </p>
          <p class="contact-email-text">Email Address:</p>
          <a href="mailto:info@elevzio.site" class="contact-email-link"
            >info@elevzio.site</a
          >
          <p class="contact-text">
            Let's simplify your systems, so you can grow with ease.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/contact/contact-bg-desk.png"
            media="(min-width: 1440px)"
            width="812"
            height="442" />
          <source
            srcset="./img/contact/contact-bg-mob.png"
            width="375"
            height="236" />
          <img
            class="contact-bg-img"
            src="./img/contact/contact-bg-mob.png"
            alt="People working"
            width="375"
            height="236"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
