<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <p class="hero-top-text">
        Elevate your operations. Design a business that supports your brain.
      </p>
      <h1 class="hero-title">
        Systemize <span class="title-span">Your Genius.</span> Grow Without
        <span class="title-span">Burnout.</span>
      </h1>
      <div class="hero-link-wrapper">
        <div class="hero-text-wrapper">
          <p class="hero-text">
            At Elevzio, we help solo consultants, creators, and small studios
            build smart, streamlined systems for client delivery, brand growth,
            and digital product expansion.
          </p>
          <p class="hero-text">
            If your calendar is full, your processes scattered, and your ideas
            half-built — we’re here to help you simplify, clarify, and scale
            with confidence.
          </p>
        </div>
        <a class="hero-link" href="#contact">See How It Works</a>
      </div>
    </div>
  </div>
</section>
