<section class="section process-section" id="process">
  <div class="process-bg-wrapper">
    <div class="container process-container">
      <div class="process-content-wrapper">
        <div class="process-text-wrapper">
          <h2 class="section-title process-title">
            How It <span class="title-span">Works</span>
          </h2>
          <ul class="process-list">
            <li class="process-list-item">
              <p class="process-item-number">01</p>
              <h3 class="process-item-title">Clarity Call</h3>
              <p class="process-item-text">
                We meet to map your pain points and business goals. No pressure.
                Just signal.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-number">02</p>
              <h3 class="process-item-title">Choose Your Sprint</h3>
              <p class="process-item-text">
                Select a one-time setup, strategy sprint, or monthly system
                care.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-number">03</p>
              <h3 class="process-item-title">Build Together</h3>
              <p class="process-item-text">
                We co-create your operating system over 3, 5, or 7 days. You'll
                walk away with documentation, templates, and automation live.
              </p>
            </li>
            <li class="process-list-item">
              <p class="process-item-number">04</p>
              <h3 class="process-item-title">Ongoing Support (Optional)</h3>
              <p class="process-item-text">
                For clients who want system tuning, updates, or evolution over
                time.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/process/process-bg-desk.png"
            media="(min-width: 1440px)"
            width="704"
            height="680" />
          <source
            srcset="./img/process/process-bg-mob.png"
            width="375"
            height="362" />
          <img
            class="process-bg-img"
            src="./img/process/process-bg-mob.png"
            alt="People working"
            width="375"
            height="362"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
